
.body {
    font-family: 'Work Sans', sans-serif;
    font-family: 'Yantramanav', sans-serif;
}
.header {
    border-bottom: 1px solid rgb(225, 225, 225);
    /* box-shadow-lef: 0 4px 6px rgba(0, 0, 0, 0.1); */
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 100px;
}

.nav-items > ul {
    display: flex;
    padding: 0 50px;
    list-style-type: none;
    cursor: pointer;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    color: rgba(2, 6, 12, 0.75);
    font-family: 'Work Sans', sans-serif;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    width: 250px;
    height: 400px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 10px;
    margin: 10px;
    background-color: transparent;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
}

.search {
    padding: 10px;
}

.filter-btn {
    margin: 10px;
    margin: 10px;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 7px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: rgba(2, 6, 12, 0.6);
    font-size: medium;
    cursor: pointer;
    font-family: 'Work Sans', sans-serif;
}

.res-card:hover{
    transform: translateY(-5px);
    transition: 0.3s ease-in-out;
}

.res-card .res-img {
    width: 100%;
    height: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.res-content {
    padding: 10px;
}

.res-content h3 {
    font-size: 18px;
    font-weight: bold;
    color: rgba(2, 6, 12, 0.75);
}

.res-content h4 {
    font-size: 16px;
    font-weight: normal;
    color: rgba(2, 6, 12, 0.6);
    word-spacing: 2px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.res-utils {
    display: flex;
    justify-content: space-between;
}